<h2>Skills</h2>
  <p>What do you want to do next with your app?</p>

  <input type="hidden" #selection>

  <div class="card-container">
    <button class="card card-small" (click)="selection.value = 'angular'" tabindex="0">
      <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z"/></svg>
      <span>Angular</span>
    </button>

    <button class="card card-small" (click)="selection.value = 'reactJs'" tabindex="0">
      <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z"/></svg>
      <span>React JS</span>
    </button>

    <button class="card card-small" (click)="selection.value = 'javascript'" tabindex="0">
      <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z"/></svg>
      <span>Javascript</span>
    </button>

    <button class="card card-small" (click)="selection.value = 'html'" tabindex="0">
      <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z"/></svg>
      <span>HTML</span>
    </button>

    <button class="card card-small" (click)="selection.value = 'css'" tabindex="0">
      <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z"/></svg>
      <span>CSS</span>
    </button>

    <button class="card card-small" (click)="selection.value = 'materialUI'" tabindex="0">
      <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z"/></svg>
      <span>Material UI</span>
    </button>
  </div>

  <!-- Terminal -->
  <div class="terminal" [ngSwitch]="selection.value">
    <pre *ngSwitchDefault>ng new my-app</pre>
    <pre *ngSwitchCase="'reactJs'">npx create-next-app</pre>
    <pre *ngSwitchCase="'javascript'">const myApp = 'myApp'</pre>
    <pre *ngSwitchCase="'html'">&lt;html&gt;My App&lt;/html&gt;</pre>
    <pre *ngSwitchCase="'css'">.myApp</pre>
    <pre *ngSwitchCase="'materialUI'">npm install @mui/material</pre>
</div>